<p data-i18n="proxy.apiKey" class="mb-2"></p>
<div class="join w-full">
	<div class="relative join-item w-full">
		<input type="password" id="apiKeyInput" class="input input-bordered w-full text-center pr-12" value="${apiKey}" readonly />
		<button id="toggleApiKeyButton" type="button" class="absolute top-0 right-0 h-full px-4">
			<img src="https://api.iconify.design/line-md/watch-off.svg" class="text-icon h-6 w-6" />
		</button>
	</div>
	<button class="btn btn-primary join-item" id="copyApiKeyButton" data-i18n="proxy.copyApiKeyButton"></button>
</div>
