<div class="attachment" id="attachment-${safeName}-${index}" data-template-type="attachment_preview">
	<span class="preview-container"></span>
	<span class="file-name">${file.name}</span>
	${file.description ? `<p class="attachment-transcript text-xs opacity-70 mt-1" user-content>${file.description}</p>` : ''}
	<span class="attachment-button-group ${showDownloadButton && showDeleteButton ? 'join' : ''}">
		${showSpeechRecognitionMenu ? `
		<div class="dropdown dropdown-top dropdown-end">
			<button type="button" tabindex="0" class="btn btn-xs btn-ghost attachment-menu-button" data-i18n="chat.attachment.buttons.more"></button>
			<ul tabindex="0" class="dropdown-content menu menu-sm bg-base-100 rounded-box z-30 shadow border border-base-300 w-36 p-1">
				${showDownloadButton ? `<li><button type="button" class="download-button" data-i18n="chat.attachment.buttons.download"></button></li>` : ''}
				<li><button type="button" class="speech-recognition-button" data-i18n="chat.attachment.buttons.recognize"></button></li>
				${showDeleteButton ? `<li><button type="button" class="delete-button" data-i18n="chat.attachment.buttons.delete"></button></li>` : ''}
			</ul>
		</div>
		` : `
		${showDownloadButton ? `
		<button type="button" class="download-button btn btn-xs btn-primary ${showDeleteButton ? 'join-item' : ''}" data-i18n="chat.attachment.buttons.download"><img src="https://api.iconify.design/line-md/download.svg" data-i18n="chat.attachment.buttons.downloadIcon" /></button>
		`: ''}
		${showDeleteButton ? `
		<button type="button" class="delete-button btn btn-xs btn-error ${showDownloadButton ? 'join-item' : ''}" data-i18n="chat.attachment.buttons.delete"><img src="https://api.iconify.design/line-md/document-delete.svg" data-i18n="chat.attachment.buttons.deleteIcon" /></button>
		`: ''}
		`}
	</span>
</div>
