<div class="modal-box">
	<h3 class="font-bold text-lg mb-4" data-i18n="chat.hub.newCategory.title"></h3>
	<div class="form-control mb-3">
		<label class="label" for="new-category-name"><span class="label-text" data-i18n="chat.hub.category.name"></span></label>
		<input type="text" id="new-category-name" class="input input-bordered" data-i18n="chat.hub.category.nameInput" />
	</div>
	<div class="modal-action">
		<button type="button" id="new-category-cancel" class="btn btn-ghost" data-i18n="util.common.cancel"></button>
		<button type="button" id="new-category-create" class="btn btn-primary" data-i18n="util.common.create"></button>
	</div>
</div>
