<div class="modal-box">
	<h3 class="font-bold text-lg mb-4" data-i18n="chat.hub.newChannelTitle"></h3>
	<div class="form-control mb-3">
		<label class="label"><span class="label-text" data-i18n="chat.hub.channelName"></span></label>
		<input type="text" id="new-channel-name" class="input input-bordered" data-i18n="chat.hub.channelNameInput" />
	</div>
	<div class="form-control mb-4">
		<label class="label"><span class="label-text" data-i18n="chat.hub.channelType"></span></label>
		<select id="new-channel-type" class="select select-bordered">
			<option value="text" data-i18n="chat.hub.channelTypeText"></option>
			<option value="list" data-i18n="chat.hub.channelTypeList"></option>
			<option value="streaming" data-i18n="chat.hub.channelTypeStreaming"></option>
		</select>
	</div>
	<div class="modal-action">
		<button id="new-channel-cancel" class="btn btn-ghost" data-i18n="util.common.cancel"></button>
		<button id="new-channel-create" class="btn btn-primary" data-i18n="util.common.create"></button>
	</div>
</div>
