<div class="modal-box">
	<h3 class="font-bold text-lg mb-4" data-i18n="chat.hub.newChannel.title"></h3>
	<div class="form-control mb-3">
		<label class="label"><span class="label-text" data-i18n="chat.hub.channel.name"></span></label>
		<input type="text" id="new-channel-name" class="input input-bordered" data-i18n="chat.hub.channel.nameInput" />
	</div>
	<div class="form-control mb-4">
		<label class="label"><span class="label-text" data-i18n="chat.hub.channel.type"></span></label>
		<select id="new-channel-type" class="select select-bordered">
			<option value="text" data-i18n="chat.hub.channel.typeText"></option>
			<option value="list" data-i18n="chat.hub.channel.typeList"></option>
			<option value="streaming" data-i18n="chat.hub.channel.typeStreaming"></option>
		</select>
	</div>
	<div class="form-control mb-4 hidden" id="new-channel-parent-wrap">
		<label class="label"><span class="label-text" data-i18n="chat.hub.channel.parent"></span></label>
		<select id="new-channel-parent" class="select select-bordered"></select>
	</div>
	<div class="modal-action">
		<button id="new-channel-cancel" class="btn btn-ghost" data-i18n="util.common.cancel"></button>
		<button id="new-channel-create" class="btn btn-primary" data-i18n="util.common.create"></button>
	</div>
</div>
