<div class="flex items-center gap-1 mt-1 text-xs opacity-70" data-timeline-nav="1">
	<button type="button" class="btn btn-xs btn-ghost px-1 inline-flex items-center justify-center" data-timeline-prev><img src="https://api.iconify.design/mdi/chevron-left.svg" class="w-4 h-4" alt="" /></button>
	<span class="px-1" data-timeline-label></span>
	<button type="button" class="btn btn-xs btn-ghost px-1 inline-flex items-center justify-center" data-timeline-next><img src="https://api.iconify.design/mdi/chevron-right.svg" class="w-4 h-4" alt="" /></button>
</div>
