<div class="attachment" id="attachment-${safeName}-${index}" data-template-type="attachment_preview">
	<span class="preview-container"></span>
	<span class="file-name">${file.name}</span>
	<span class="attachment-button-group ${showDownloadButton && showDeleteButton ? 'join' : ''}">
		${showDownloadButton ? `
		<button class="download-button btn btn-xs btn-primary ${showDeleteButton ? 'join-item' : ''}" data-i18n="chat.attachment.buttons.download"><img src="https://api.iconify.design/line-md/download.svg" data-i18n="chat.attachment.buttons.downloadIcon" /></button>
		`: ''}
		${showDeleteButton ? `
		<button class="delete-button btn btn-xs btn-error ${showDownloadButton ? 'join-item' : ''}" data-i18n="chat.attachment.buttons.delete"><img src="https://api.iconify.design/line-md/document-delete.svg" data-i18n="chat.attachment.buttons.deleteIcon" /></button>
		`: ''}
	</span>
</div>
