<div class="chat-message chat chat-start mb-4" id="message-${safeTimeStamp}" data-template-type="message">
	<div class="chat-image avatar">
		<div class="w-10 mask mask-squircle rounded-full">
			<img src="${avatar}" alt="${name}" />
		</div>
	</div>
	<div class="chat-bubble relative ${
		content.match(/<(?<tag>video|iframe)\b[^>]*>.*?<\/\k<tag>>/gs) ? 'w-full' : ''
	}">
		<div class="button-group absolute top-1 right-1 join">
			<button class="edit-button btn btn-xs btn-primary join-item" data-i18n="chat.messageView.buttons.edit">
				<img src="https://api.iconify.design/line-md/edit.svg" data-i18n="chat.messageView.buttons.editIcon" />
			</button>
			<button class="btn btn-xs btn-ghost join-item" popovertarget="popover-${safeTimeStamp}" style="anchor-name:--anchor-${safeTimeStamp}" data-i18n="chat.messageView.buttons.more">
				<img src="https://api.iconify.design/line-md/list-3.svg" data-i18n="chat.messageView.buttons.moreIcon" />
			</button>
		</div>
		<ul class="dropdown menu w-52 rounded-box bg-base-100 shadow-sm" popover id="popover-${safeTimeStamp}" style="position-anchor:--anchor-${safeTimeStamp}">
			<li>
				<a class="delete-button">
					<img src="https://api.iconify.design/line-md/remove.svg" class="w-4 h-4" data-i18n="chat.messageView.dropdown.deleteIcon" />
					<span data-i18n="chat.messageView.dropdown.delete"></span>
				</a>
			</li>
			<li>
				<a class="copy-markdown-button">
					<img src="https://api.iconify.design/line-md/document-list.svg" class="w-4 h-4" data-i18n="chat.messageView.dropdown.copyMarkdownIcon" />
					<span data-i18n="chat.messageView.dropdown.copyMarkdown"></span>
				</a>
			</li>
			<li>
				<a class="copy-text-button">
					<img src="https://api.iconify.design/line-md/document.svg" class="w-4 h-4" data-i18n="chat.messageView.dropdown.copyTextIcon" />
					<span data-i18n="chat.messageView.dropdown.copyText"></span>
				</a>
			</li>
			<li>
				<a class="copy-html-button">
					<img src="https://api.iconify.design/line-md/document-code.svg" class="w-4 h-4" data-i18n="chat.messageView.dropdown.copyHtmlIcon" />
					<span data-i18n="chat.messageView.dropdown.copyHtml"></span>
				</a>
			</li>
		</ul>
		<div class="text-sm font-bold text-primary-content flex items-center gap-2">
			${name}
		</div>
		<div class="message-content markdown-body mt-1">
			${content}
		</div>
		<div class="attachments"></div>
	</div>
	<div class="chat-footer opacity-50">
		${timeStamp}
	</div>
</div>
