<div class="chat-list-item rounded-md bg-base-100/40 shadow-md mb-2 p-0" id="chat-list-item-${chatid}" data-template-type="skeleton">
	<div class="p-4 flex flex-col sm:flex-row items-start sm:items-center justify-between">
		<div class="flex items-center min-w-0 w-full gap-4">
			<div class="w-5 h-5 skeleton rounded"></div>

			<div class="flex items-center gap-2">
				<div class="avatar-group -space-x-6 rtl:space-x-reverse">
					<div class="w-8 h-8 skeleton rounded-full"></div>
					<div class="w-8 h-8 skeleton rounded-full"></div>
				</div>
				<div class="w-24 h-4 skeleton rounded"></div>
			</div>

			<div class="flex-1 hidden sm:block">
				<div class="w-3/4 h-4 skeleton rounded"></div>
			</div>
		</div>

		<div class="flex flex-col items-end gap-2 mt-2 sm:mt-0">
			<div class="w-16 h-3 skeleton rounded"></div>
			<div class="flex gap-1">
				<div class="w-8 h-6 skeleton rounded"></div>
				<div class="w-8 h-6 skeleton rounded"></div>
				<div class="w-8 h-6 skeleton rounded"></div>
				<div class="w-8 h-6 skeleton rounded"></div>
			</div>
		</div>
	</div>
</div>
