<tr>
	<td>
		<div class="flex items-center gap-3">
			<div class="font-bold">${data.title.replaceAll('<', '&lt;' ).replaceAll('>', '&gt;')}</div>
		</div>
	</td>
	<td>
		<a href="${data.url}" target="_blank" class="link link-hover max-w-xs truncate" title="${data.url}">${data.url}</a>
	</td>
	<td>
		${data.hasFocus ? `
		<span class="badge badge-success gap-2">
			<img class="fill-current w-2 h-2" src="https://api.iconify.design/line-md/my-location-loop.svg" />
			<span data-i18n="browser_integration.status_focused"></span>
		</span>
		` : `
		<span class="badge badge-ghost" data-i18n="browser_integration.status_unfocused"></span>
		`}
	</td>
</tr>
