.git
.gitignore
.github
.esh
.vscode
.gemini
README.md
README.txt
AGENTS.md
LICENSE
LICENSE.md
LICENSE.txt
/docs
/src/runner
/node_modules
/eslint.config.mjs
/typos.toml
*.bat
*.ps1
*.exe
.directory
desktop.ini
/path/fount.mjs
/package.json
/gradlew.bat
/gradlew
/stack.yaml
/settings.gradle
/mix.exs
/gulpfile.mjs
/fount.csproj
/Directory.Build.props
/build.sbt
/build.gradle
/Taskfile.yml
/Package.swift
/Makefile
/Justfile
/Cargo.toml
/Cargo.lock
