<button type="button" class="stream-refresh-button" data-streaming-av-role="join" data-i18n="chat.hub.streamAvJoin"></button>
<button type="button" class="stream-refresh-button" data-streaming-av-role="leave" hidden data-i18n="chat.hub.streamAvLeave"></button>
<button type="button" class="stream-refresh-button" data-streaming-av-role="mute" hidden data-i18n="chat.hub.streamAvMute"></button>
<button type="button" class="stream-refresh-button" data-streaming-av-role="video" hidden data-i18n="chat.hub.streamAvVideo"></button>
