body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
}

article img {
	display: inline-block;
	margin-right: 2px;
}

.markdown-body pre {
	overflow-x: auto;
}

.markdown-body code {
	white-space: pre-wrap;
}

[style*="--shiki-light"][style*="--shiki-dark"] {
	color: var(--shiki-light) !important;
}

[data-theme="dark"] [style*="--shiki-light"][style*="--shiki-dark"] {
	color: var(--shiki-dark) !important;
}

/* 卡片容器 */
.card-container {
	display: flex;
	overflow: hidden;
	/* 隐藏溢出部分 */
	transition: width 0.3s ease;
	/* 添加宽度过渡效果 */
	width: 300px;
	/* 桌面端初始宽度 */
}

/* 卡片内容区域，用于添加图片和介绍 */
.card-content {
	width: 300px;
	/* 桌面端初始宽度 */
	height: 300px;
	/* 桌面端初始高度 */
	position: relative;
	/* 为 card-body 提供定位 */
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 0.5rem;
}

.text-content {
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	padding-top: 0.5rem;
}

/* 标签容器 */
.details-container {
	width: 300px;
	/* 桌面端宽度，与卡片相同 */
	display: none;
	/* 默认隐藏 */
}

/* 桌面端悬浮效果 */
@media (min-width: 1024px) {
	.card-container:hover {
		width: 600px;
		/* 鼠标悬浮时宽度翻倍 */
	}

	.card-container:hover .details-container {
		display: flex;
		/* 鼠标悬浮时显示标签 */
		flex-direction: column;
		justify-content: space-between;
	}
}

/* 移动端样式 */
@media (max-width: 1023px) {
	.card-container {
		width: 100%;
		/* 移动端宽度占满 */
		flex-wrap: wrap;
	}

	.card-content {
		width: 50%;
		/* 卡片宽度占据一半 */
		aspect-ratio: 1 / 1;
	}

	.details-container {
		width: 50%;
		/* 标签容器占据一半 */
		display: flex;
		/* 移动端始终显示标签 */
		flex-direction: column;
		justify-content: space-between;
	}
}

.refresh-button {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
	opacity: 0;
	/* Initially hidden */
	transition: opacity 0.3s ease;
}

.card-container:hover .refresh-button {
	opacity: 1;
	/* Visible on hover */
}
