<div class="card-container bg-base-100 shadow-xl group">
	<div class="card-content">
		<div class="absolute inset-0 bg-base-200 skeleton"></div>
		<div class="text-content relative p-2">
			<div class="skeleton h-7 w-3/4 mb-2"></div>
			<div class="skeleton h-4 w-full mb-1"></div>
			<div class="skeleton h-4 w-full mb-1"></div>
			<div class="skeleton h-4 w-2/3 mb-2"></div>
			<div class="card-actions justify-end w-full">
				<div class="flex flex-nowrap gap-2 overflow-x-auto max-w-full">
					<div class="skeleton h-8 w-16"></div>
					<div class="skeleton h-8 w-16"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="details-container z-[60] h-full p-4 bg-base-100 bg-opacity-50 flex flex-col justify-between">
		<div>
			<div class="skeleton h-6 w-6 absolute top-2 right-2"></div>
			<div class="tags-container overflow-y-auto flex gap-2 flex-wrap">
				<div class="skeleton h-5 w-20"></div>
				<div class="skeleton h-5 w-24"></div>
				<div class="skeleton h-5 w-16"></div>
			</div>
		</div>
		<div class="char-details-container overflow-y-auto flex flex-col gap-2 mt-4">
			<div class="skeleton h-4 w-full"></div>
			<div class="skeleton h-4 w-3/4"></div>
		</div>
	</div>
</div>
