<div class="hub-vote-block" data-ballot-id="${ballotId}">
	<div class="hub-vote-q"><img src="https://api.iconify.design/mdi/chart-bar.svg" class="inline w-5 h-5 align-middle mr-1" width="20" height="20" alt="" aria-hidden="true" /> ${questionHtml}</div>
	${deadlineHtml}
	<div class="hub-vote-options">${
		voteOptions.length
		? voteOptions.map(opt => `
		<button type="button" class="hub-vote-option" data-ballot-id="${ballotId}" data-choice="${opt.choice}">
			<span class="hub-vote-option-label">${opt.label}</span>
			<span class="hub-vote-option-meta" data-i18n="chat.hub.voteCount" data-count="${opt.count}" data-pct="${opt.percent}"></span>
			<span class="hub-vote-option-bar" style="width:${opt.percent}%"></span>
		</button>
		`).join('')
		: '<span class="hub-vote-empty" data-i18n="chat.hub.voteNoOptions"></span>'
		}
	</div>
	<div class="hub-vote-total" data-i18n="chat.hub.voteTotal" data-total="${total}"></div>
</div>
