<li><button type="button" class="group-menu-manage" data-group-id="${groupId}" data-i18n="chat.hub.group.context.manage"></button></li>
<li><button type="button" class="group-menu-notify" data-group-id="${groupId}" data-i18n="chat.hub.group.context.notifyPrefs"></button></li>
<li><button type="button" class="group-menu-invite" data-group-id="${groupId}" data-i18n="chat.hub.group.context.invite"></button></li>
<li><button type="button" class="group-menu-add-char" data-group-id="${groupId}" data-i18n="chat.hub.group.context.addChar"></button></li>
<li><button type="button" class="group-menu-alias" data-group-id="${groupId}" data-i18n="chat.hub.group.context.setAlias"></button></li>
<li><button type="button" class="group-menu-leave text-error" data-group-id="${groupId}" data-i18n="chat.hub.group.context.leave"></button></li>
