<li><button type="button" class="group-menu-manage" data-group-id="${groupId}" data-i18n="chat.hub.groupContext.manage"></button></li>
<li><button type="button" class="group-menu-notify" data-group-id="${groupId}" data-i18n="chat.hub.groupContext.notifyPrefs"></button></li>
<li><button type="button" class="group-menu-invite" data-group-id="${groupId}" data-i18n="chat.hub.groupContext.invite"></button></li>
<li><button type="button" class="group-menu-add-char" data-group-id="${groupId}" data-i18n="chat.hub.groupContext.addChar"></button></li>
<li><button type="button" class="group-menu-alias" data-group-id="${groupId}" data-i18n="chat.hub.groupContext.setAlias"></button></li>
<li><button type="button" class="group-menu-leave text-error" data-group-id="${groupId}" data-i18n="chat.hub.groupContext.leave"></button></li>
