<div class="chat-message chat chat-start mb-4 group" id="${id}" data-template-type="message-generating">
	<div class="chat-image avatar mr-2.5 -mb-2.5">
		<div class="w-10 mask mask-squircle rounded-full">
			<img src="${avatar}" alt="${name}" width="100%" height="100%" />
		</div>
	</div>
	<div class="chat-bubble relative p-[15px] min-w-[150px] w-full">
		<div class="char-name text-sm font-bold text-primary flex items-center gap-2 mb-[5px]">
			${name}
			<span class="loading loading-dots loading-xs"></span>
		</div>
		<div class="message-content markdown-body mt-1">
			${content}
		</div>
		<div class="skeleton-loader hidden flex flex-col gap-2 w-full mt-2">
			<div class="skeleton h-4 w-28"></div>
			<div class="skeleton h-4 w-full"></div>
			<div class="skeleton h-4 w-3/4"></div>
		</div>
		<div class="mt-2 flex justify-end">
			<button class="stop-generating-button btn btn-xs btn-error btn-outline gap-1">
				<img src="https://api.iconify.design/line-md/close-circle.svg" data-i18n="chat.generating.stopIcon" />
				<span data-i18n="chat.messageGenerating.stop"></span>
			</button>
		</div>
	</div>
</div>
