<div class="chat-message chat chat-start mb-4 group" id="${id}" data-template-type="message">
	<div class="chat-image avatar mr-2.5 -mb-2.5">
		<div class="w-10 mask mask-squircle rounded-full">
			<img src="${avatar}" alt="${name}" width="100%" height="100%" />
		</div>
	</div>
	<div class="chat-bubble relative p-[15px] min-w-[150px] ${
		content.match(/<(?<tag>video|iframe)\b[^>]*>.*?<\/\k<tag>>/gs) ? 'w-full' : ''
	}">
		<div class="button-group">
			<div class="normal-buttons join" style="display: flex;">
				<button class="edit-button btn btn-xs btn-primary join-item" data-i18n="chat.messageView.buttons.edit">
					<img src="https://api.iconify.design/line-md/edit.svg" data-i18n="chat.messageView.buttons.editIcon" />
				</button>
				<button class="btn btn-xs btn-ghost join-item" popovertarget="popover-${id}" style="anchor-name:--anchor-${id}" data-i18n="chat.messageView.buttons.more">
					<img src="https://api.iconify.design/line-md/list-3.svg" data-i18n="chat.messageView.buttons.moreIcon" />
				</button>
			</div>
			<div class="shift-buttons join" style="display: none;">
				<button class="download-html-button-direct btn btn-xs btn-success join-item" data-i18n="chat.messageView.buttons.downloadHtml">
					<img src="https://api.iconify.design/line-md/download.svg" data-i18n="chat.messageView.buttons.downloadHtmlIcon" />
				</button>
				<button class="delete-button btn btn-xs btn-error join-item" data-i18n="chat.messageView.buttons.delete">
					<img src="https://api.iconify.design/line-md/remove.svg" data-i18n="chat.messageView.buttons.deleteIcon" />
				</button>
			</div>
		</div>
		<ul class="dropdown dropdown-end menu w-52 rounded-box bg-base-100 shadow-sm" popover id="popover-${id}" style="position-anchor:--anchor-${id}">
			<li>
				<a class="delete-button">
					<img src="https://api.iconify.design/line-md/remove.svg" class="w-4 h-4" data-i18n="chat.messageView.dropdown.deleteIcon" />
					<span data-i18n="chat.messageView.dropdown.delete"></span>
				</a>
			</li>
			<li>
				<a class="copy-markdown-button">
					<img src="https://api.iconify.design/line-md/document-list.svg" class="w-4 h-4" data-i18n="chat.messageView.dropdown.copyMarkdownIcon" />
					<span data-i18n="chat.messageView.dropdown.copyMarkdown"></span>
				</a>
			</li>
			<li>
				<a class="copy-text-button">
					<img src="https://api.iconify.design/line-md/document.svg" class="w-4 h-4" data-i18n="chat.messageView.dropdown.copyTextIcon" />
					<span data-i18n="chat.messageView.dropdown.copyText"></span>
				</a>
			</li>
			<li>
				<a class="copy-html-button">
					<img src="https://api.iconify.design/line-md/document-code.svg" class="w-4 h-4" data-i18n="chat.messageView.dropdown.copyHtmlIcon" />
					<span data-i18n="chat.messageView.dropdown.copyHtml"></span>
				</a>
			</li>
			<li>
				<a class="download-html-button">
					<img src="https://api.iconify.design/line-md/download.svg" class="w-4 h-4" data-i18n="chat.messageView.dropdown.downloadHtmlIcon" />
					<span data-i18n="chat.messageView.dropdown.downloadHtml"></span>
				</a>
			</li>
			<li>
				<details>
					<summary>
						<img src="https://api.iconify.design/line-md/external-link.svg" class="w-4 h-4" data-i18n="chat.messageView.dropdown.shareIcon" />
						<span data-i18n="chat.messageView.dropdown.share"></span>
					</summary>
					<ul>
						<li><span class="share-button" data-time="1h" data-i18n="chat.messageView.dropdown.share.1h"></span></li>
						<li><span class="share-button" data-time="12h" data-i18n="chat.messageView.dropdown.share.12h"></span></li>
						<li><span class="share-button" data-time="24h" data-i18n="chat.messageView.dropdown.share.24h"></span></li>
						<li><span class="share-button" data-time="72h" data-i18n="chat.messageView.dropdown.share.72h"></span></li>
					</ul>
				</details>
			</li>
		</ul>
		<div class="char-name text-sm font-bold text-primary flex items-center gap-2 mb-[5px]">
			${name}
		</div>
		<div class="message-content markdown-body mt-1">
			${content}
		</div>
		<div class="attachments"></div>
	</div>
	<div class="chat-footer opacity-50 mt-[5px]">
		${time_stamp}
	</div>
</div>
