body {
	background-color: #f3f4f6;
	/* 或者你喜欢的灰色 */
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
}

#confirm-password-group {
	display: none;
	/* 默认隐藏 */
}
