<div class="card bg-base-100 shadow-xl image-full">
	<figure><img class="object-cover" src="${avatar}" alt="${name}" /></figure>
	<div class="card-body">
		<h2 class="card-title">${name}</h2>
		<p class="line-clamp-3">${description}</p>
		<div class="card-actions justify-end">
			<button class="btn btn-primary chat-button"><img src="https://api.iconify.design/line-md/chat-round.svg" title="聊天"/></button>
			<button class="btn btn-error delete-button"><img src="https://api.iconify.design/line-md/account-delete.svg" title="删除"/></button>
		</div>
	</div>
</div>
