.drop-area {
	border: var(--border) dashed color-mix(in srgb, var(--color-base-content) 25%, transparent);
	border-radius: var(--radius-box);
	padding: 20px;
	text-align: center;
	cursor: pointer;
}

.drop-area.dragover {
	background-color: #f0f0f0;
}

.file-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px;
	border-bottom: var(--border) solid color-mix(in srgb, var(--color-base-content) 25%, transparent);
}
