.text-icon {
	color: var(--fallback-bc, oklch(var(--bc)/1));
}

.jsoneditor-container {
	width: 100%;
	--jse-theme-color: var(--fallback-pc, oklch(var(--p)/1)) !important;
	--jse-a-color: var(--fallback-pc, oklch(var(--p)/1)) !important;
}

.markdown-body {
	color: var(--fallback-bc, oklch(var(--bc)/1));
	background-color: #00000000;
}

.markdown-body hr {
	background-color: var(--fallback-bc, oklch(var(--bc)/1));
}

.markdown-body img {
	display: inline-block;
	margin-right: 2px;
}

.markdown-body figure {
	display: block;
	overflow-x: auto;
	white-space: pre;
}

[style*="--shiki-light"][style*="--shiki-dark"] {
	color: var(--shiki-light)
}

[data-theme-isdark="true"] [style*="--shiki-light"][style*="--shiki-dark"] {
	color: var(--shiki-dark)
}
