<div class="flex items-center justify-between p-2 bg-base-100 rounded-box mb-2" data-locale-id="${localeId}">
	<span class="font-medium">${localeName}</span>
	<div class="join">
		<button type="button" class="btn btn-xs btn-ghost join-item move-up ${isFirst ? 'disabled' : '' }" data-i18n="languageSettings.moveUpButton">
			<img src="https://api.iconify.design/line-md/arrow-up.svg" class="w-4 h-4" alt="" />
		</button>
		<button type="button" class="btn btn-xs btn-ghost join-item move-down ${isLast ? 'disabled' : '' }" data-i18n="languageSettings.moveDownButton">
			<img src="https://api.iconify.design/line-md/arrow-down.svg" class="w-4 h-4" alt="" />
		</button>
		<button type="button" class="btn btn-xs btn-error join-item delete-locale" data-i18n="languageSettings.deleteLocaleButton">
			<img src="https://api.iconify.design/line-md/trash.svg" class="w-4 h-4" alt="" />
		</button>
	</div>
</div>
