<div class="flex items-center justify-between p-2 bg-base-100 rounded-box mb-2" data-locale-id="${localeId}">
	<span class="font-medium">${localeName}</span>
	<div class="join">
		<button class="btn btn-xs btn-ghost join-item move-up ${isFirst ? 'disabled' : '' }">
			<img src="https://api.iconify.design/line-md/arrow-up.svg" class="w-4 h-4" alt="Move Up" />
		</button>
		<button class="btn btn-xs btn-ghost join-item move-down ${isLast ? 'disabled' : '' }">
			<img src="https://api.iconify.design/line-md/arrow-down.svg" class="w-4 h-4" alt="Move Down" />
		</button>
		<button class="btn btn-xs btn-error join-item delete-locale">
			<img src="https://api.iconify.design/line-md/trash.svg" class="w-4 h-4" alt="Delete" />
		</button>
	</div>
</div>
