<div class="source-section">
	<div class="flex items-center gap-3 mb-4">
		<div class="skeleton w-8 h-8 rounded-full"></div>
		<div class="skeleton h-8 w-48"></div>
		<div class="skeleton h-6 w-24"></div>
	</div>
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
		<div class="card bg-base-100 shadow-md">
			<div class="card-body">
				<div class="flex items-center gap-4">
					<div class="skeleton w-12 h-12 rounded"></div>
					<div class="flex-grow flex flex-col gap-2">
						<div class="skeleton h-6 w-full"></div>
						<div class="skeleton h-4 w-3/4"></div>
						<div class="skeleton h-3 w-1/2 mt-2"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="card bg-base-100 shadow-md">
			<div class="card-body">
				<div class="flex items-center gap-4">
					<div class="skeleton w-12 h-12 rounded"></div>
					<div class="flex-grow flex flex-col gap-2">
						<div class="skeleton h-6 w-full"></div>
						<div class="skeleton h-4 w-3/4"></div>
						<div class="skeleton h-3 w-1/2 mt-2"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="card bg-base-100 shadow-md">
			<div class="card-body">
				<div class="flex items-center gap-4">
					<div class="skeleton w-12 h-12 rounded"></div>
					<div class="flex-grow flex flex-col gap-2">
						<div classs="skeleton h-6 w-full"></div>
						<div class="skeleton h-4 w-3/4"></div>
						<div class="skeleton h-3 w-1/2 mt-2"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
