<li><button type="button" class="hub-member-menu-copy-name" data-i18n="chat.hub.memberContext.copyName"></button></li>
${showMention ? '<li><button type="button" class="hub-member-menu-mention" data-i18n="chat.hub.memberContext.mention"></button></li>' : ''}
<li><button type="button" class="hub-member-menu-copy-pubkey" data-i18n="chat.hub.memberContext.copyPubKey"></button></li>
${showCopyEntity ? '<li><button type="button" class="hub-member-menu-copy-entity" data-i18n="chat.hub.memberContext.copyEntityId"></button></li>' : ''}
<li><button type="button" class="hub-member-menu-dm" data-i18n="chat.hub.memberContext.dm"></button></li>
${showKick ? '<li><button type="button" class="hub-member-menu-kick" data-i18n="chat.hub.memberContext.kick"></button></li>' : ''}
${showBan ? '<li><button type="button" class="hub-member-menu-ban text-error" data-i18n="chat.hub.memberContext.ban"></button></li>' : ''}
${showPersonalBlock ? '<li><button type="button" class="hub-member-menu-personal-block text-warning" data-i18n="chat.hub.memberContext.personalBlock"></button></li>' : ''}
