<li><button type="button" class="hub-member-menu-copy-name" data-i18n="chat.hub.memberCtx.copyName"></button></li>
<li><button type="button" class="hub-member-menu-copy-pubkey" data-i18n="chat.hub.memberCtx.copyPubKey"></button></li>
${showCopyEntity ? '<li><button type="button" class="hub-member-menu-copy-entity" data-i18n="chat.hub.memberCtx.copyEntityId"></button></li>' : ''}
<li><button type="button" class="hub-member-menu-dm" data-i18n="chat.hub.memberCtx.dm"></button></li>
${showKick ? '<li><button type="button" class="hub-member-menu-kick" data-i18n="chat.hub.memberCtx.kick"></button></li>' : ''}
${showBan ? '<li><button type="button" class="hub-member-menu-ban text-error" data-i18n="chat.hub.memberCtx.ban"></button></li>' : ''}
${showPersonalBlock ? '<li><button type="button" class="hub-member-menu-personal-block text-warning" data-i18n="chat.hub.memberCtx.personalBlock"></button></li>' : ''}
