name: Verify Server

on:
  push:
    paths:
      - 'src/server/**'
      - 'src/scripts/**'
    tags-ignore:
      - '*'
    branches:
      - '*'
  workflow_dispatch:

jobs:
  verify-server:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - uses: denoland/setup-deno@v2
        id: deno
        with:
          deno-version: vx.x.x
          cache: true
      - uses: actions/cache@v4
        with:
          path: ./node_modules
          key: fount-CI-node-modules
      - name: Start server and ping api/ping
        run: |
          deno run --allow-scripts --allow-all --unstable-npm-lazy-caching --node-modules-dir=auto --v8-flags=--expose-gc ./.github/workflows/verify_server.mjs
